<footer>
  <a href="index.html">
    <img src="images/LB.png">
  </a>
  <div class="contactInfo">
      <h3>LAUREN BRIDDELL SCHUSTER</h3>
      <a href="Contact.html">design@laurenbriddell.com</a><span class='blue'> | </span> 717.495.0462
  </div>
  <div>
    <span class="smallFont">By using this site, I am agreeing to the <a href="TermsConditions.html">Terms and Conditions</a>
    and <a href="PrivatePolicy.html">Privacy Policy</a></span>
  </div>
</footer>
</body>
<script src="js/ContactJS.js"></script>
</html>
