{{#if buttonPressed}}
<div class="backdrop"></div>
<div class="modal">
    <h1 class="modal__title">You're message has been sent</h1>
    <div class="modal__actions">
        <a href="index.html" class="modal__action">OK</a>
    </div>
</div>
{{/if}}
